<!DOCTYPE html>
<html lang="en">
  <head>
    
    <head>
        <title>My VueJS shortener URL</title>
        <meta name="description" content="" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="google-site-verification" content="" />
        <meta name="author" content="Mickaël SURREL, ALPIXEL agency">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="dist/css/front.min.css" type="text/css" media="screen" />
    </head>
    
  </head>
  <body>

    

    <div id="app" v-cloak>
        <h1>
            VueJS & Bitly API
        </h1>
        <form>
            <div class="form-item cc-chained" :class="{error : errorInput}">
                <label>
                 Url to crop :
                </label>
                <input ref="urlToCrop" v-model="longUrl" placeholder="Paste long url here..." />
                <input v-model="copyUrl" disabled/>
                <button type="submit" @click.prevent="controlDatas">Crop</button>
                <a href="#" class="btn cc-bg-red cc-mal-10 cc-thin" @click.prevent="clearInput">Clear</a>
            </div>
        </form>

        <div class="cc-mat-30" v-if="taburl.length">
            <h2>My shorten URL</h2>
            <table>
                <thead>
                    <tr>
                        <th>Long URL</th>
                        <th>Shorten URL</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Long URL</th>
                        <th>Shorten URL</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr v-for="(url,index) in taburl">
                        <td>
                            <span>{{url.url}}</span>
                        </td>
                        <td>
                            <a :href="url.shortenUrl" target="_blank">{{url.shortenUrl}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- <div>
            <pre>
                {{$data}}
            </pre>
        </div> -->
    </div>

    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
	<script src="dist/js/app.min.js"></script>
    <script src="dist/js/global.min.js"></script>
  </body>
</html>